<h1>Home</h1>

<ul>
  <li>accountId: <%= @agent["data"]["accountId"] %></li>
  <li>credits: <%= @agent["data"]["credits"] %></li>
  <li>headquarters: <%= @agent["data"]["headquarters"] %></li>
  <li>shipCount: <%= @agent["data"]["shipCount"] %></li>
  <li>startingFaction: <%= @agent["data"]["startingFaction"] %></li>
  <li>symbol: <%= @agent["data"]["symbol"] %></li>
</ul>