.component.ships-list {
    display: flex;
    gap: 10px;

    .component.ship {
        // background: #494949;
        background: #999;
        color: white;
        letter-spacing: 1px;
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        font-weight: bold;

        a {
            display: flex;
            text-decoration: none;
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
    }
}